body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 0;    
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    
}

a:link:hover, a:visited:hover  {
  color: #045491;
}

 
.panelGridForm tr, .panelGridForm td {
     border-style: hidden !important;
     vertical-align: top;
}
.label{
    text-align: right;
}
.btnPanelGrid{
    margin:7px;
}
.btnPanelGrid button {
    margin-right: 5px;
}
.btnCenterPanelGrid{
    margin: 7px;
    text-align: center;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled{
    opacity: 0.65;
}